body {
	font-size: 16px;
	font-family: 'oxygen', sans serif;
}
/********** navbar styling **********/
#header-nav{
    padding:0;
}
.navbar {
    background-color: #848484;
}
.navbar-brand h1{
	text-transform: uppercase;
	font-size: 2.5vw;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom:5px;
	margin-top:5px;
}
#toggle-nav {
	border: 1px solid rgba(0,0,0,.5);
	margin:5px 10px 5px 0;
}
.icon-bar {
	display: block;
	width: 20px;
	height: 2px;
	background-color: rgba(0,0,0,.5);
	margin-top: 4px;
	margin-bottom: 4px;
}
#toggle-nav:hover, #toggle-nav:focus{
    border: 1px solid #FFF;
}
#toggle-nav:hover .icon-bar, #toggle-nav:focus .icon-bar{
    background-color: #FFF;
}

#navlist{
	text-align: center;
	background-color: #C0C0C0;
}
#navlist li{
	border: 1px solid rgba(0,0,0,.5);
}
#navlist a:hover{
	color: #FFF;
	font-size: 1.1em;
} /********** End navbar styling **********/

/********** Title heading **********/
#title-heading h2{
	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 1.5em;
	font-weight: bold;
	font-family: arial, sans-serif;
}/********** End Title heading **********/
#menu1, #menu2, #menu3{
	background-color: #848484;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15px;
}
#menu1 p , #menu2 p, #menu3 p{
	padding-left: 10px;
	padding-right: 10px;
	font-family: Roboto, sans-serif;
}
#menu1 h3 , #menu2 h3, #menu3 h3{
	color: #FFF;
	padding-top: 10px;
	font-size: 1.2em;
	font-family: arial, sans-serif;
}

